.header {
  width: 100vw;
  border-bottom: 1px solid var(--color-dark-300);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1280px;
  height: 60px;
  margin: 0 auto;
  padding: 12px 64px 12px 60px;
}

.logo {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
}

.flex {
  display: flex;
  align-items: center;
}

.buttons-wrapper {
  display: flex;
  gap: 1.5rem;
  margin-left: 2.25rem;
}
