.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1280px;
  height: 60px;
  padding: 12px 64px 12px 60px;
}

.logo {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
}

.flex {
  display: flex;
}

.buttons-wrapper {
  display: flex;
  gap: 1.5rem;
  margin-left: 2.25rem;
}
