.photoContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 24px;
}

.imageBlock {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 192px;
    height: 192px;

    background-color: var(--color-dark-500);
    border-radius: 50%;
}