@use '../../../../styles/mixins' as *;

.photoContainer {
  @include flex($justify: null, $direction: column);

  padding-top: 24px;
}

.avatar {
  aspect-ratio: 1;
  width: 192px;
  height: auto;
  margin-bottom: 24px;
}
