@use '../../../styles/mixins' as *;

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 60%);
  animation: overlay-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0;

  background-color: var(--color-dark-300);
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  animation: content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &:focus {
    outline: none;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    padding: 12px 24px;

    border-bottom: 1px solid var(--color-dark-100);

    h2 {
      margin: 0;
    }

    &__closeIcon {
      cursor: pointer;

      width: 24px;
      height: 24px;

      color: var(--light-100);

      border-radius: 50%;

      transition: color 0.3s, background 0.3s;

      &:hover {
        background: var(--color-dark-100);
      }
    }
  }

  &__body {
    &__description {
      padding: 30px 24px;
    }
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes content-show {
  from {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}