.inputContainer {
  background-color: inherit;
  position: relative;
  width: 284px;
  height: 60px;
}

.input {
  padding-right: 32px;
  padding-left: 12px;
  display: flex;
  background-color: inherit;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  color: var(--color-dark-100);

  &:disabled {
    color: var(--color-dark-300);
  }

  &:focus {
    border-color: var(--color-info-700);
    color: var(--color-ligth-100);
  }

  &:hover {
    // тут изменил цвет и добавил фоновый цвет
    color: var(--color-dark-100);
    border-color: var(--color-dark-100);
  }

  &:active:enabled {
    border-color: var(--color-light-100);
  }

  &.inputSearch {
    padding-left: 30px;

    &.error {
      color: var(--color-danger-300);
      border-color: var(--color-danger-300);

      &::placeholder {
        color: red;
      }
    }
  }

  &.error {
    color: var(--color-danger-300);
    border-color: var(--color-danger-300);

    &::placeholder {
      color: red;
    }
  }
}

.button {
  background-color: inherit;
  position: absolute;
  right: 35px;
  bottom: 15px;
  padding: 0;
  border: 0;
  width: 20px;
  height: 20px;
}

.searchOutline {
  position: absolute;
  left: 5px;
  top: 3px;
}

.errorMessage {
  font-size: 12px;
  color: var(--color-danger-300);
}
