@use '../../styles/mixins' as *;
@use '../../styles/helpers' as *;

.cardRoot {
  @include flex($justify: null, $align: null, $direction: column);

  height: 100%;

  .header {
    position: relative;
    justify-content: space-between;
  }
}

.contentWrapper {
  $adaptive-filters-list-width: get-adaptive-size(
    $min-size: 0,
    $max-size: 480,
    $min-device-size: get-breakpoint('mobile-m') + 80,
    $max-device-size: get-breakpoint('tablet-l'),
    $unit: 1px,
  );

  overflow: hidden;
  display: grid;
  grid-template: 'preview filters' / 1fr min(49.5%, $adaptive-filters-list-width);
  flex: 1 1 auto;

  @include media-breakpoint('tablet-m') {
    grid-template: 'preview' 1fr 'filters' min-content;
  }
}
