@use '../../../styles/mixins' as *;
@use '../../../styles/helpers' as *;

.outerContainer {
  margin-top: 60px;
}

.innerContainer {
  @include flex($justify: null, $direction: column);

  gap: rem(16);
  max-width: 500px;
  margin-inline: auto;
  text-align: center;
}
