.sidebarContainer {
  background-color: var(--color-dark-700);
  width: 220px;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 1px solid var(--color-dark-300);
  padding-left: 60px;
  position: fixed;
  top: 60px;


  button {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 24px;
    padding: 1px 6px 1px 0;
    margin: 12px 0 12px 0;
    background-color: inherit;
    font-size: 14px;


    &:hover {
      color: var(--primary-100, #73A5FF);

      .svgAsComponent * {
        fill: var(--primary-100, #73A5FF);

      }
    }


    &:active {
      font-weight: bold;
      border: none;
      outline: 0px;

      color: var(--primary-500, #397DF6);

      .svgAsComponent * {
        fill: var(--primary-500, #397DF6);

      }
    }

    &:disabled {
      color: var(--dark-100,
              #4C4C4C);

      .svgAsComponent * {
        fill: var(--dark-100,
                #4C4C4C);
      }

      &:focus-visible {
        outline: 2px solid var(--info-700, #2f68cc);
      }


    }
  }

  .buttonContainer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .logOutButtonContainer {
    display: flex;
    height: 154px;
    flex-direction: column;
    justify-content: end;

  }

  .svgAsComponent {
    margin-right: 10px;


    & * {
      fill: white;

    }
  }
}





