@use '../../../styles/mixins' as *;
@use '../../../styles/helpers' as *;

.root {
  scrollbar-width: thin;

  position: fixed;
  top: 60px;
  bottom: 0;

  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-inline: rem(60) rem(10);

  width: 220px;
  border-right: 1px solid var(--color-dark-300);
}

.section {
  margin-top: em(60);
  @include flex($justify: null, $align: null, $direction: column);

  gap: 24px;
}

.button {
  @include flex($justify: null);
  color: var(--color-light-100);
  font-size: var(--font-size-s);
  padding: 0;
  justify-content: start;
  user-select: none;
  cursor: pointer;
  gap: 12px;

  &Logout {
    margin-top: auto;
  }

  &:hover {
    color: var(--color-accent-100);
  }

  &Active {
    font-weight: var(--font-weight-bold);
    color: var(--color-accent-500);
  }

  &:active {
    font-weight: var(--font-weight-bold);
    color: var(--color-accent-500);
  }

  svg {
    & * {
      fill: currentcolor;
    }
  }
}

.modalButtonsGroup {
  @include flex($justify: flex-end, $align: null);

  gap: 20px;
  margin-top: 30px;
}

.modalButton {
  flex-basis: em(96);
}

.footer {
  margin-top: auto;
  padding-top: em(60);
  margin-bottom: em(20);
}
