.content {
    padding: 12px;
    background-color: rgb(23 23 23 / 80%);
    border-radius: 2px;
}

.wrapper {
    display: flex;
    flex-direction: row;

    // gap: 12px;
}

.image {
    width: 80px;
    height: 82px;
}


/* Trigger button */
.button, .buttonPlus {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;
    padding: 0;

    border-radius: 2px;
}

.button {
    background-color: rgb(23 23 23 / 80%);

}

.button:hover, .buttonPlus:hover {
    cursor: pointer;
}

.svg {
    & * {
    transition: fill 0.2s;
    }
}

 .button:active, .button:hover, .buttonPlus:hover {
    .svg {
        & * {
          fill: var(--color-accent-500);
        }
    }
}