@use '../../../styles/mixins' as *;
@use '../../../styles/helpers' as *;
$max-card-width: rem(962);
$max-card-height: rem(560);

.root {
  display: grid;
  grid-template-rows: auto 1fr;
  width: $max-card-width;
  height: $max-card-height;
}

.header {
  @include flex($justify: space-between, $align: center);

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.content {
  display: grid;
  grid-template-areas: 'gallery details';
  grid-template-columns: 1fr 1fr;

  @include media-breakpoint('tablet-m') {
    grid-template: 'details' 1fr 'gallery' min-content;
  }

  //width: 100%;
  //height: 100%;
  padding: 0;
}

.gallery {
  --aspect-ratio: 1;
  background-color: var(--color-dark-900);
  max-width: rem(490);
  //height: 100%;
}

.form {
  grid-area: details;
  max-width: rem(470);
  padding: 12px 0 0;
}

.confirmModal {
  width: 100%;
}

.actions {
  align-self: end;
}
