@mixin button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  flex-shrink: 0;
  gap: 10px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 6px 24px 6px 24px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border: none;
  border-radius: 2px;

  &:focus-visible {
    outline: 2px solid var(--color-accent-700);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary {
  @include button;

  color: var(--color-light-100);
  background-color: var(--color-accent-500);

  &:hover:enabled {
    background-color: var(--color-accent-300);
  }

  &:active:enabled {
    background-color: var(--color-accent-700);
  }
}

.secondary {
  @include button;

  color: var(--color-light-100);
  background-color: var(--color-dark-300);

  &:focus-visible {
    outline: 1px solid var(--color-accent-300);
  }

  &:hover:enabled {
    background-color: var(--color-dark-100);
  }

  &:active:enabled {
    background-color: var(--color-dark-500);
  }
}

.tertiary {
  @include button;

  color: var(--color-accent-500);
  border: 1px solid var(--color-accent-500);

  &:hover:enabled {
    color: var(--color-accent-100);
    border: 1px solid var(--color-accent-100);
  }

  &:active:enabled {
    color: var(--color-accent-700);
    border: 1px solid var(--color-accent-700);
  }
}

.text {
  @include button;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);

  color: var(--color-accent-500);

  &:hover:enabled {
    color: var(--color-accent-100);
  }

  &:active:enabled {
    color: var(--color-accent-700);
  }
}
