@use '../../../styles/helpers' as *;
@use '../../../styles/mixins' as *;

%button {
  @include inline-flex;

  cursor: pointer;
  user-select: none;

  gap: em(10);

  height: em(36);
  padding-inline: em(24);

  font-weight: var(--font-weight-bold);
  text-transform: capitalize;

  border-radius: 2px;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent-700);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.primary {
  @extend %button;

  color: var(--color-light-100);
  background-color: var(--color-accent-500);

  &:hover:enabled {
    background-color: var(--color-accent-300);
  }

  &:active:enabled {
    background-color: var(--color-accent-700);
  }
}

.secondary {
  @extend %button;

  color: var(--color-light-100);
  background-color: var(--color-dark-300);

  &:focus-visible {
    outline: 1px solid var(--color-accent-300);
  }

  &:hover:enabled {
    background-color: var(--color-dark-100);
  }

  &:active:enabled {
    background-color: var(--color-dark-400);
  }
}

.tertiary {
  @extend %button;
  @extend .text;

  border: 1px solid currentcolor;
}

.text {
  @extend %button;

  color: var(--color-accent-500);

  &:hover:enabled {
    color: var(--color-accent-100);
  }

  &:active:enabled {
    color: var(--color-accent-700);
  }
}

.fullWidth {
  width: 100%;
}
