@use '../../../styles/helpers' as *;
@use '../../../styles/mixins' as *;

%button {
  @include inline-flex;

  cursor: pointer;
  user-select: none;

  gap: em(10);

  min-height: em(36);
  padding: em(6) em(24);

  font-weight: var(--font-weight-semibold);
  text-align: center;

  border-radius: 2px;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent-700);
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.65;
}

.primary {
  @extend %button;

  color: var(--color-light-100);
  background-color: var(--color-accent-500);

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }
}

.secondary {
  @extend %button;

  color: var(--color-light-100);
  background-color: var(--color-dark-300);

  &:focus-visible {
    outline: 1px solid var(--color-accent-300);
  }

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-400);
  }
}

.tertiary {
  @extend %button;
  @extend .text;

  border: 1px solid currentcolor;
}

.text {
  @extend %button;

  color: var(--color-accent-500);

  &:hover {
    color: var(--color-accent-100);
  }

  &:active {
    color: var(--color-accent-700);
  }
}

.fullWidth {
  width: 100%;
}
