@use '../../styles/mixins' as *;
@use '../../styles/helpers' as *;

.container {
  scrollbar-width: thin;

  position: fixed;
  top: 60px;
  bottom: 0;

  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;

  width: 220px;
  padding: 60px 0 36px 60px;

  border-right: 1px solid var(--color-dark-300);
}

.buttonsGroup {
  @include flex($justify: null, $align: null, $direction: column);

  gap: 24px;
}

.button {
  @include flex($justify: null);

  cursor: pointer;
  gap: 12px;

  &Logout {
    margin-top: auto;
  }

  &:hover {
    color: var(--color-accent-100);
  }

  // doesn't work properly
  &:active {
    font-weight: var(--font-weight-bold);
    color: var(--color-accent-500);
  }
}

.svg {
  & * {
    fill: currentcolor;
  }
}

.modalButtonsGroup {
  @include flex($justify: flex-end, $align: null);

  gap: 20px;
  margin-top: 30px;
}

.modalButton {
  flex-basis: em(96);
}
