@use '../../styles/mixins' as *;

%full-height {
  height: 100%;
}

$image-gallery-elements: 'content', 'slide-wrapper', 'swipe', 'slides', 'slide';

@mixin full-parent-height {
  @each $element in $image-gallery-elements {
    .image-gallery-#{$element} {
      @extend %full-height;
    }
  }
}

.container {
  height: 100%;
  padding: 1px;

  :global {
    @include full-parent-height;

    .image-gallery {
      &-slides {
        display: flex;
      }

      &-slide {
        @include flex;
      }

      &-image-outer-wrapper {
        --resolved-aspect-ratio: var(--aspect-ratio, 4 / 5);

        @include flex;

        width: 100%;
        height: 100%;

        &-with-ar {
          aspect-ratio: var(--resolved-aspect-ratio);
          width: auto;
          max-width: 100%;
        }
      }

      &-image-inner-wrapper {
        position: relative;
        width: 100%;
        height: 100%;

        &-with-ar {
          aspect-ratio: var(--resolved-aspect-ratio);
          height: auto;
        }
      }

      &-slide-image {
        object-fit: contain;

        &-with-ar {
          object-fit: cover;
        }
      }
    }
  }
}
