.formContainer {
  flex-grow: 1;
  padding-bottom: 23px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.selectBlock {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}

.select {
  z-index: get-z-index(form);
  width: 50%;
}

.saveButton {
  display: block;
  margin-top: 24px;
  margin-left: auto;
}

.separator {
  border: 1px solid var(--color-dark-300);
}
