.formContainer {
  width: 100%;
  padding-bottom: 23px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.selectBlock {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}

.select {
  width: 50%;
  z-index: 1111;
}