.container {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonSignIn {
  width: 182px;
  margin-bottom: 72px;
}

.buttonExpired {
  width: 229px;
  margin-bottom: 72px;
}

.textBlock {
  width: 294px;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 54px;
}
