.datePickerContainer {
  display: flex;
  flex-direction: column;


  width: 100%;

  :global {
    .rmdp-input {

      width: 100%;
      background-color: var(--color-dark-700);
      height: 36px;


      &:focus {
        border: 1px solid var(--color-accent-500);
      }
    }
  }
  .errorMessage {
    color: var(--color-danger-500)
  }


}



.error {
  :global {
    .rmdp-input {
      border: 2px solid var(--color-danger-500);
      color: red;
    }
  }
}

.svgAsComponent {
  & * {
    fill: red;
  }

}

.cont button {
  background-color: var(--color-dark-100);
  padding-top: 2px;

}

.cont button > i {
  border: solid white;
  border-width: 0 2px 2px 0;
}


