.container {
  display: inline-flex;
  // width: 100%;
  height: 36px;
  padding: 6px 2px 6px 6px;
  justify-content: flex-start;
  gap: 8px;
}

.checkboxRoot {
  all: unset;
  width: 24px;
  height: 24px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    transition:
      background-color 0.2s ease,
      transform 0.2s ease;
  }

  &:hover {
    transform: scale(1);
  }

  &:active {
    transform: scale(1);
  }

  &:hover::before {
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--color-dark-300);
  }

  &:active::before {
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--color-dark-100);
  }
}
.checkboxLabel {
  display: flex;
  align-items: center;
}

.disabled {
  pointer-events: none;
}

.labelDisabled {
  color: var(--color-light-900);
}
