@use '../../../styles/mixins' as *;

.root {
  .headerIconButton {
    --modal-card-icon-btn-padding: var(--icon-button-padding, 0px);

    &:hover,
    &:focus-visible {
      background-color: var(--color-dark-400);
    }

    &:active {
      background-color: var(--color-dark-500);
    }

    &First {
      @extend .headerIconButton;

      margin-right: auto;
      margin-left: calc(var(--modal-card-icon-btn-padding) * -1);
    }

    &Last {
      @extend .headerIconButton;

      margin-right: calc(var(--modal-card-icon-btn-padding) * -1);
      margin-left: auto;
    }
  }

  .headerTitle {
    @include text-overflow-ellipsis;

    font-size: var(--font-size-l);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-m);
  }

  .contentScrollable {
    @include thin-common-scrollbar;

    overflow: auto;
  }
}
