@use '../../../styles/mixins' as *;

.root {
  .closeButton {
    margin-right: calc(var(--icon-button-padding) * -1);
    margin-left: auto;

    &:hover,
    &:focus-visible {
      background-color: var(--color-dark-400);
    }

    &:active {
      background-color: var(--color-dark-500);
    }
  }

  .title {
    @include text-overflow-ellipsis;

    font-size: var(--font-size-l);
  }
}
