.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-light-900);
}

.textarea {
  width: 100%;
  padding: 6px 12px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-900);

  background-color: var(--color-dark-500);
  border: none;
  border-radius: 2px;
  outline: 1px solid var(--color-dark-100);

  transition:
          color 0.3s,
          border-color 0.3s;

  &:disabled {
    color: var(--color-dark-100);
  }

  &:focus-visible {
    color: var(--color-light-100);
    outline: 2px solid var(--color-accent-500);
  }

  &:active:not(:disabled) {
    color: var(--color-light-100);
    outline: 1px solid var(--color-light-100);
  }

  &.error {
    color: var(--color-light-100);
    outline: 1px solid var(--color-danger-500);
  }

  &:hover:not(:disabled, :focus-visible, .error) {
    outline: 1px solid var(--color-light-900);
  }
}

.errorSpan {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-danger-500);
}

.disabled {
  color: var(--color-dark-100);
}