.root {
    display: flex;
    flex-direction: column;
}
  
.list {
    display: flex;
    flex-shrink: 0;
    border-bottom: 2px solid var(--color-dark-100);
}
  
.trigger {
    all: unset;
    cursor: pointer;
    position: relative;
    min-width: 120px;
    padding: 6px 24px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-dark-100);
    text-align: center;
    
      &.fullWidth {
        flex-grow: 1;
      }
  
      &:focus {
        border-radius: 2px;
        padding: 4px 22px;
        border: 2px solid var(--color-accent-700);
      }
  
      &:hover {
        background-color: rgba(35,78,153, 0.15);
      }
  
      &[data-state='active'] {
        color: var(--color-accent-500);
  
        &::after {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: var(--color-accent-500);
        }
      }
  
      &:active {
        background-color: rgba(115,165,255, 0.15);
      }
  
      &[data-disabled] {
        cursor: initial;
        color: var(--color-dark-300);

        &:hover {
            background-color: transparent;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color-dark-300);
        }
      }
}
  
