@use '../../styles/helpers' as *;
@use '../../styles/mixins' as *;

.modalContent {
  display: flex;
  max-height: 100vh;

  .cardRoot {
    @include thin-scrollbar;

    width: 440px;
    max-width: 100%;
  }

  .cardContent {
    @include flex($justify: null, $align: null, $direction: column);

    padding-bottom: 24px;
  }
}

.buttonsGroup {
  @include flex($justify: flex-end, $align: null, $wrap: wrap);

  gap: 16px;
  align-self: flex-end;

  &:has(.button) {
    margin-top: 24px;
  }

  @include media-breakpoint('tablet-s') {
    align-self: stretch;
  }
}

.button {
  flex-grow: 1;
  min-width: em(96);
  white-space: nowrap;

  @include media-breakpoint('tablet-s') {
    flex-basis: 0;
    min-width: min-content;
  }
}
