.userBioRoot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userBioAvatar {
  width: 200px;
  height: 200px;
  margin-right: 35px;
}

.userBioAvatarFallback {
  width: 50%;
  height: 50%;
}

.userBioRootInfo {
  margin: 10px;
}

.userBioInfo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.userBioRow {
  display: flex;
  align-items: center;
}

.userBioName {
  margin-right: 10px;
}

.userBioCounter {
  margin-right: 10px;
}
