.sidebarContainer {
  background-color: red; //var(--color-dark-700);
  width: 220px;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-dark-300);
  padding: 0 40px 0 40px;
}

.header {
  width: 1260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerInterface {
  display: flex;


}

.headerInterface > div {
  padding: 10px;
}