.linksContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.links {
  background-color: var(--color-dark-100);
  position: absolute;
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 20px
}

.links a:hover {
  color: yellow;
}

.showNavBarButton {
  position: fixed;
  bottom: 25px;
  left: 0px;
  background-color: #ff8099;
}