@use '../../../../styles/mixins' as *;
@use '../../../../styles/helpers' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actionButtons {
  display: flex;
  gap: 14px;
  width: 100%;

  & > *:last-child {
    margin-left: auto;
  }
}

.time {
  color: var(--color-light-900);
}

.lickedCount {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.icons {
  position: relative;

  width: inherit;
  min-width: 24px;
  max-width: 54px;
  height: 24px;
}

.icons .icon {
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  font-size: 12px;
  font-weight: bold;
  color: white;
}

.icons .icon:nth-child(1) {
  z-index: 3;
  left: 0;
}

.icons .icon:nth-child(2) {
  z-index: 2;
  left: 15px;
}

.icons .icon:nth-child(3) {
  z-index: 1;
  left: 30px;
}
