.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    padding: 0;

background-color: rgb(23 23 23 / 50%);
    border-radius: 2px;
}



.svg {
    & * {
    transition: fill 0.2s;
    }
}


 .button:active, .button:hover {
    .svg {
        & * {
          fill: var(--color-accent-500);
        }
    }
}