.outerContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.center {
  text-align: center;
  width: 100%;
}

.right {
  justify-content: right;
}

.gitHubGoogleContainer {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 36px;
}

.values {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .element {
    height: 58px;
  }
}

.checkbox {
  margin-top: 12px;
  margin-bottom: 12px;
}

.button {
  width: 100%;
  padding: 6px 24px;
  gap: 10px;
}

.bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.signUp {
  color: var(--color-accent-500);
}

.card {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 378px;
  height: 100%;
  max-height: 648px;
  padding: 24px;
  gap: 24px;
}
