.card {
  width: 378px;
  margin: 72px auto;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  border-radius: 3px;
}
.dialogButton {
  width: 96px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.fontColor {
  color: var(--color-light-900);
}

.input {
  height: 36px;
  color: black;

  &:focus {
    color: black;
  }
}
.message {
  padding-top: 14px;
  padding-bottom: 17px;
}

.buttonBack {
  margin-top: 24px;
  margin-bottom: 24px;
}

.dialogDescription {
  color: var(--color-light-900);
}
