@use '../../../styles/mixins' as *;

:global(.post-comment-root) {
  .item {
    --info-section-item-color: var(--color-light-900);

    color: var(--info-section-item-color);
    white-space: nowrap;

    &Action {
      @extend .item;

      @include hover {
        --info-section-item-color: var(--color-light-700);

        text-decoration: underline;
      }

      cursor: pointer;
    }
  }
}
