.content {
    padding: 12px;
    background-color: rgb(23 23 23 / 80%);
    border-radius: 2px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.image {
    width: 80px;
    height: 82px;
}