.outerContainer {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.right {
  justify-content: right;
}

.gitHubGoogleContainer {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 36px;
}

.values {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.checkbox {
  padding-bottom: 12px;
}

.button {
  padding: 6px 24px;
}

.bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.signUp {
  color: var(--color-accent-500);
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 378px;
  padding: 24px;
  gap: 5px;
  align-items: center;
}

.bottom {
  padding-top: 18px;
}

.link {
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-regular);
  color: var(--color-accent-500);
  text-decoration: underline;
}