@mixin typography($fontSize, $lineHeight, $fontWeight, $color: var(--color-light-100)) {
    margin: 0;

    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $color;
  }
  
  .large {
    @include typography(var(--font-size-xxl), var(--line-height-l), var(--font-weight-semibold));
  }
  
  .h1 {
    @include typography(var(--font-size-xl), var(--line-height-l), var(--font-weight-bold));
  }
  
  .h2 {
    @include typography(var(--font-size-l), var(--line-height-m), var(--font-weight-bold));
  }
  
  .h3 {
    @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-semibold));
  }
  
  .regular16 {
    @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-regular));
  }
  
  .bold16 {
    @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
  }
  
  .regular14 {
    @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));
  }
  
  .medium14 {
    @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-medium));
  }

  .medium16 {
    @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-medium));
  }
  
.medium16 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-medium));
}
  
  .bold14 {
    @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-bold));
  }
  
  .regular12 {
    @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));
  }

  .semibold12 {
    @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-semibold));
  }
  
  .regularLink {
    @include typography(
      var(--font-size-s),
      var(--line-height-m),
      var(--font-weight-regular),
      var(--color-accent-500)
    );
  
    text-decoration-line: underline;
  }
  
  .smallLink {
    @include typography(
      var(--font-size-xs),
      var(--line-height-s),
      var(--font-weight-regular),
      var(--color-accent-500)
    );
  
    text-decoration-line: underline;
  }

  .smallText {
    @include typography(var(--font-size-xs), var(--line-height-m), var(--font-weight-regular));
  }