@use '../../../styles/mixins' as *;
@use '../../../styles/z-index' as *;

@function translate-with-half-header-offset($translateX, $translateY) {
  $header-half-height: var(--header-height) / 2;

  @return translate($translateX, calc($translateY + $header-half-height));
}

.overlay {
  @include z-index('modal');

  position: fixed;
  inset: 0;

  opacity: 0.5;
  background-color: var(--color-dark-900);

  animation: overlay-show 300ms;
}

.content {
  @include z-index('modal');

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate-with-half-header-offset(-50%, -50%);

  // `display: flex` is required so that the child of the container can shrink.
  //  This will allow you to set `overflow: hidden` to this child, so that you can then set `overflow: auto`
  //  to any child element that involves scrolling the content.

  // Remove `display: flex` and `max-height` if you are going to set a fixed height of the modal window
  //  and at the same time retain the ability to auto-scroll an arbitrary child element
  display: flex;

  max-width: 100%;
  max-height: calc(100vh - var(--header-height));
  padding: 24px;

  animation: content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);

  @include media-breakpoint('tablet-s') {
    padding: 16px;
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes content-show {
  from {
    transform: translate-with-half-header-offset(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  to {
    transform: translate-with-half-header-offset(-50%, -50%) scale(1);
    opacity: 1;
  }
}
