$max-card-width: 962px;
$max-card-height: 560px;

.root {
  display: grid;
  grid-template-rows: auto 1fr;
  width: $max-card-width;
  height: $max-card-height;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.content {
  display: grid;
  grid-template-areas: 'gallery details';
  grid-template-columns: 1fr 1fr;

  width: 100%;
  height: 100%;
  padding: 0;
}

.gallery {
  --aspect-ratio: 1;

  max-width: 490px;
  height: 100%;
}

.form {
  grid-area: details;
  max-width: 470px;
  padding: 12px 0 0;
}

.confirmModal {
  width: 100%;
}

.actions {
  align-self: end;
}
