@use '../../../styles/mixins' as *;
@use '../../../styles/helpers' as *;

.cardRoot {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  justify-content: space-between;
}

.contentWrapper {
  overflow: hidden;
  display: grid;
  grid-template-areas: 'gallery details';
  grid-template-columns: 1fr 1fr;

  height: 100%;

  .content {
    @include flex($justify: null, $align: null, $direction: column);

    grid-area: details;
    gap: 24px;
    height: 100%;
    padding-top: 24px;
  }
}

.gallery {
  grid-area: gallery;
}

.submitButton {
  align-self: end;
  margin-top: auto;
}
