@use '../../../styles/mixins' as *;
@use '../../../styles/helpers' as *;

.root {
  width: 960px;
  height: 562px;
}



.content {
  display: grid;
  grid-template-areas:
    'slider header'
    'slider content'
    'slider footer'
    'slider form';
  grid-template-columns: 1fr 1fr;

  width: 100%;
  height: 100%;
  padding: 0;
}

.gallery {
  grid-area: slider;
  width: 100%;
  background-color: red;
}

.postDetails {
  display: flex;
  flex-direction: column;
  width: 480px;
  padding: 0;
}

.header {
  grid-area: header;
  height: 59px;
}

.commentsSection {
  scrollbar-color: var(--color-light-900) transparent;
  scrollbar-width: thin;

  overflow-y: auto;

  height: 330px;
  margin-top: -5px;
  padding-top: 6px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-light-900);
    border-radius: 3px;
  }

  &Publick {
    height: 410px;
  }
}

.commentsDetails {
  grid-area: footer;
  padding-top: 9px;
  padding-bottom: 9px;

  &Publick {
    height: 83px;
  }
}

.addNewCommentSection {
  display: flex;
  grid-area: form;
  width: 100%;
  height: 64px;

  button {
    height: 40px;
  }
}

.inputSection {
  position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    width: 100%;
    height: 40px;
    

    color: var(--color-light-300);

    background: transparent;
    border: none;

    &:active,
    :focus,
    :hover{
      background: transparent;
      border: none;
      outline: none
    }

    &:focus-visible{
      border: none;
      outline: none;
    }
}

.errorTitle {
  position: absolute;
  margin-top: 32px;
  font-size: var(--font-size-xs);
  color: var(--color-danger-500);
}

.btnSubmit {
  button {
    height: 40px;
  }
}