@use '../../../styles/mixins' as *;
@use '../../../styles/helpers' as *;

.cardRoot {
  @include flex($justify: null, $align: null, $direction: column);

  height: 100%;
}

.outerWrapper {
  display: grid;
  grid-template-areas: 'gallery details';
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.gallery {
  grid-area: gallery;
  background-color: color-mix(in hsl, var(--color-dark-500), transparent 65%);
}

.contentWrapper {
  @include flex($justify: null, $align: null, $direction: column);

  overflow: hidden;
  grid-area: details;
  height: 100%;

  .commentDetails {
    &Private {
      padding-bottom: 8px;
    }
  }
}

.commentsSection {
  flex: 1 1 auto;
}

.addNewCommentSection {
  @include flex($justify: null);

  width: 100%;
}

.inputSection {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  width: 100%;
  height: 40px;

  color: var(--color-light-300);

  background: transparent;
  border: none;

  &:active,
  :focus,
  :hover {
    background: transparent;
    border: none;
    outline: none;
  }

  &:focus-visible {
    border: none;
    outline: none;
  }
}

.errorTitle {
  position: absolute;
  margin-top: 32px;
  font-size: var(--font-size-xs);
  color: var(--color-danger-500);
}
