@use '../../../styles/helpers' as *;
@use '../../../styles/mixins' as *;

.commentRoot {
  display: flex;
  gap: rem(12);

  .avatar {
    flex-shrink: 0;
    margin-top: em(4);
  }
}

.infoSection {
  @include inline-flex($justify: null);

  gap: 12px;
  margin-top: 6px;

  &Item {
    --info-section-item-color: var(--color-light-900);

    color: var(--info-section-item-color);
    white-space: nowrap;
  }

  &Action {
    @extend .infoSectionItem;

    @include hover {
      --info-section-item-color: var(--color-light-700);

      text-decoration: underline;
    }

    cursor: pointer;
  }
}

.primaryAction {
  margin-top: 8px;
  margin-left: 16px;
}

.answers {
  &Section {
    margin-top: 8px;
  }

  &OpenButton {
    @extend .infoSectionAction;

    position: relative;
    margin-left: 36px;

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      right: 100%;

      width: 24px;
      height: 1px;
      margin-inline: 12px;

      background-color: var(--info-section-item-color);
    }
  }

  &List {
    @include flex($justify: null, $align: null, $direction: column);

    gap: 10px;
    margin-top: 16px;
  }
}
