.root {
  display: grid;
  grid-template-areas:
    'header'
    'content';
  grid-template-rows: 1fr auto;
  position: relative;
  max-width: 972px;
  width: 100%;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.content {
  grid-area: content;
  display: grid;
  grid-template-areas: 'slider form';
  grid-template-columns: 1fr 1fr;
  min-width: 100%;
  padding: 0;
}

.slider {
  grid-area: slider;
}

.form {
  grid-area: form;
  padding: 0;
}

.submit {
  position: absolute;
  top: 15px;
  padding: 0;
}
