.content {
    display: flex;
    flex-direction: column;
}

.modal {
    width: 366px
}

.text {
    margin-bottom: 40px
}

.button {
    margin-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}