@use '../../styles/mixins' as *;
@use '../../styles/helpers' as *;
@use 'sass:math';

$canvas-width: 330px;

.content {
  @include flex($justify: null, $direction: column);

  .error {
    justify-content: center;
    margin-bottom: 24px;
    padding-block: em(6);
    text-align: center;
  }
}

.canvasWrapper {
  position: relative;
  width: 100%;
}

.canvasBackground {
  $width-unit: math.div($canvas-width, 40);
  $line-size: rem(math.div($width-unit, 1px));
  $gradient-value:
    var(--color-dark-500) 0,
    var(--color-dark-500) $line-size,
    var(--color-light-900) $line-size,
    var(--color-light-900) $line-size * 2;

  position: absolute;

  // hack to prevent canvas background to overflow its parent
  inset: 0 0 1px 1px;

  background-color: var(--color-dark-500);
  background-image: repeating-linear-gradient($gradient-value),
    repeating-linear-gradient(90deg, $gradient-value);
  background-blend-mode: difference;
}

.canvas {
  position: relative;
  display: block;
}

.placeholder {
  @include flex;

  aspect-ratio: 1;
  width: 230px;
  background-color: var(--color-dark-500);
}

.image {
  width: em(48);
  height: em(48);
}

.buttonsGroup {
  display: flex;
  flex-direction: column;
  gap: em(16);
  align-self: center;
  justify-content: center;

  margin-block: 12px;

  .button {
    min-width: em(220);
    white-space: normal;
  }
}
