.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 24px 24px;
}

.area {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  div {
    height: max-content;
    margin: 0;
  }


  &__textarea {
    height: 120px;
    background: var(--color-dark-500);

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-light-900);
      border-radius: 3px;
    }
  }
}

.valueLength {
  align-self: end;
  padding: 5px 0;
  color: var(--color-light-900);
  text-decoration: none;
}

.btn {
  place-self: end;
}