@use '../../../styles/mixins' as *;
@use '../../../styles/helpers' as *;
@use 'sass:map';

%button {
  @include inline-flex($wrap: wrap, $justify: flex-end);

  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  transition: background-color 0.15s ease;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:active {
    background-color: var(--color-dark-300);
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.65;

  &:is(:hover, :active) {
    background-color: transparent;
  }
}

$button-variants: (
  'small': (
    'button-padding': 4,
    'svg-size': 16,
  ),
  'medium': (
    'button-padding': 6,
    'svg-size': 24,
  ),
  'large': (
    'button-padding': 6,
    'svg-size': 36,
  ),
);

@each $variant, $params in $button-variants {
  $button-padding: map.get($params, 'button-padding');
  $svg-size: map.get($params, 'svg-size');

  .#{$variant} {
    @extend %button;

    padding: em($button-padding);

    svg {
      width: em($svg-size);
      height: em($svg-size);
    }
  }
}
