html {
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
}

:where(a:visited) {
  color: inherit;
}

:root {
  --header-height: 60px;
  --thin-scrollbar-width: 8px;
  --thin-scrollbar-height: 8px;
  --scrollbar-bg-color: hsl(0deg 50% 0% / 35%);
  --scrollbar-thumb-bg-color: hsl(0deg 50% 100% / 45%);
  --scrollbar-thumb-bg-color-hover: hsl(0deg 0% 100% / 30%);
  --scrollbar-thumb-bg-color-active: hsl(0deg 0% 100% / 22%);
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--font-family-primary), sans-serif;
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: var(--color-dark-700);
}
