@use 'helpers' as *;
@use 'sass:selector';

@mixin flex($justify: center, $align: center, $direction: null, $wrap: null) {
  display: flex;
  flex-flow: $direction $wrap;
  align-items: $align;
  justify-content: $justify;
}

// TODO: replace all flex-mixin calls followed by inline-flex with this mixin.
// Also replace all `display: flex` properties in the app with `flex` mixin.
@mixin inline-flex($args...) {
  @include flex($args...);

  display: inline-flex;
}

@mixin media-breakpoint($bp-name, $approach: 'desktop-first') {
  $media-query: null;

  @if $approach == 'desktop-first' {
    $media-query: 'width <= #{get-breakpoint($bp-name) * 1px}';
  } @else if $approach == 'mobile-first' {
    $media-query: 'width >= #{get-breakpoint($bp-name) * 1px}';
  } @else {
    @error 'Provided `$approach` parameter should be either `desktop-first` or `mobile-first`';
  }

  @media ($media-query) {
    @content;
  }
}

@mixin text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// A mixin used to align the styles of a thin scrollbar in different browsers.
@mixin thin-scrollbar {
  @supports not selector(::-webkit-scrollbar) {
    scrollbar-width: thin;
  }

  @at-root #{selector.append(&, '::-webkit-scrollbar')} {
    width: 8px;
    height: 8px;
    background-color: hsl(0deg 50% 0% / 35%);
  }

  @at-root #{selector.append(&, '::-webkit-scrollbar-thumb')} {
    background-color: hsl(0deg 50% 100% / 45%);

    &:hover {
      background-color: hsl(0deg 0% 100% / 30%);
    }

    &:active {
      background-color: hsl(0deg 0% 100% / 22%);
    }
  }
}

@mixin webkit-custom-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-dark-100);
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(100 99 99);
    border-radius: 10px;
  }
}
