@use 'helpers' as *;

:root {
  --font-family-primary: 'Inter', sans-serif;

  // line heights
  --line-height-s: 1;
  --line-height-m: 1.5;
  --line-height-l: 2;

  // font sizes
  --font-size-xs: #{rem(12)};
  --font-size-s: #{rem(14)};
  --font-size-m: #{rem(16)};
  --font-size-l: #{rem(18)};
  --font-size-xl: #{rem(20)};
  --font-size-xxl: #{rem(26)};

  // font weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
