@use '../../styles/mixins' as *;
@use '../../styles/helpers' as *;

.root {
  @include flex($justify: null, $align: null, $direction: column);

  width: 100%;
  height: 100%;
}

.header {
  .nextButton {
    --icon-button-padding: #{em(12)};

    padding-inline: var(--icon-button-padding);
  }
}

.content {
  height: 100%;
  padding: 0;
}
