.photoPlaceHolder {
  position: relative;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 222px;
  height: 228px;
  margin: 50px auto;

  background-color: var(--color-dark-500);

}

.addPhotoCard {
  z-index: 1000;
  width: 492px;
  height: 564px;
}

.photoPlaceHolderWithAvatar {
  position: relative;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 332px;
  height: 340px;
  margin: 0 auto;

  background-color: var(--color-dark-500);

}



